<div id="operation-header">
    <h2><%= @operation.name%> </h2>
    <h3><%= @operation.stage %></h3>
    <p id="status"> Status: <%= @operation.status %></p>
    <p id="message"><%= @operation.message %></p>
</div>

<div id="operation-progress"></div>

<script>
 $( function() {
     $( "#operation-progress" ).progressbar({value: <%= @num_complete * 100 / @num_works %>});
 } );
</script>

<div class="operation-info">
    <label> Total works affected by this operation:</label> <%= @num_works%>
</div>

<div class="operation-info">
    <label> Works queued up and waiting:</label> <%= @num_queued %>
</div>

<div class="operation-info">
    <label> Works currently being operated on:</label> <%= @num_running %>
</div>

<div class="operation-info">
    <label> Works that failed:</label> <%= @num_failed %>
</div>

<div class="operation-info">
    <label> Works that completed successfully:</label> 
    <a href="TODO MAKE THIS LINK WORK"><%= @num_complete %></a>
</div>

<button id="new-operation-all"> Create new operation from all works in this opeartion</button>
<button id="new-operation-completed"> Create new operation from all works that have completed this operation</button>
<button id="new-operation-failed"> Create new operation from all works that have failed this operation</button>


<div id="log">




</div>

<div id="error_log">




</div>
