<div id="operation-header">
    <h3>Bulk <%= @operation.operation_type.capitalize %> Complete!</h3>
</div>

<div class="operation-info">
    <label> Total works in this <%= @operation.operation_type %>:</label> <%= @num_works %>
</div>

<div class="operation-info">
    <label> Number of works that failed to <%= @operation.operation_type %>:</label> <%= @num_failed %>
</div>

<div class="operation-info">
<%#    <a href="TODO MAKE THIS LINK WORK"> %>
        <p> Works that completed successfully: <%= @num_complete %></p> 
<%#    </a> %>
</div>

<%= form_tag "#{@operation.id}/duplicate"  do %>
    <input type="hidden" name="status_to_edit" value="all"/>
    <button  id="new-operation-all"> Create new update from all works in this <%=@operation.operation_type %> </button>
<% end %>
<%= form_tag "#{@operation.id}/duplicate"  do %>
    <input type="hidden" name="status_to_edit" value="complete"/>
    <button id="new-operation-completed"> Create new update from all works that have completed this <%= @operation.operation_type %></button>
<% end %>
<%= form_tag "#{@operation.id}/duplicate"  do %>    
    <input type="hidden" name="status_to_edit" value="error"/>
    <button id="new-operation-failed"> Create new <%= @operation.operation_type %> from all works that have failed this <%= @operation.operation_type %></button>
<% end %>

