<div id="add-works" >
    <h3>Find Works to add to update</h3>
    
    <form id="ajax-work-search">
        <div>    
            <label for="collection-id"> Collection </label>
            <select name="collection_id" id="collection-id"><%= options_for_select @collections.insert(0,["Any",""]) %> </select>
        </div>
        <div>    
            <label for="admin-set-id"> Administrative Set </label>
            <select name="admin_set_id" id="admin-set-id"> <%= options_for_select @admin_sets.insert(0,["Any",""]) %> </select>
        </div>
        <div>    
            <label for="workflow_state"> Workflow Step </label>
            <select name="workflow_state" id="workflow-state"> <%= options_for_select @workflow_states.insert(0,["Any",""]) %></select>
        </div>
        
        <div>
            <label for="keyword"> keyword search </label>
            <input id="keyword" type="text" name="q" />
        </div>
    </form>
    <button id="add-works-search" type="button"> Search </button>

    <div id="search-summary">
        <%= form_tag("#{@operation.id}/edit") do %>
            <div id="draft-search-controls">
                <div id="all-results" style="display:none">
                    <p id="count"></p>
                    <input type="checkbox" name="add_all_results" id="add-all-results" value="true"/>
                    <label for="add-all-results">Add all search results to update</label>
                </div>
                <input type="submit"  id="draft-update-add-works" class="show-with-results" value="Add to Update" />
            </div>
            <div id="draft-search-display" class="show-with-results">
                <h4>Sample Results (first 15 results)</h4>
                <button type="button" class="selections select-all">Select All</button>
                <button type="button" class="selections select-none">Select None</button>
                <ul id="search-sample">
                    <li id="template" class="hidden">
                        <input type="checkbox" name="added_work_ids[]" value=""/>
                        <%= image_tag("", height: '200', class: 'work-thumb') %>
                        <div class="work-meta">
                            <div class="work-title"></div>
                            <div class="work-desription"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <input class="prev-search-field" id="prev-collection-id" type="hidden" name="collection_id" value=""/>
            <input class="prev-search-field" id="prev-admin-set-id" type="hidden" name="admin_set_id" value=""/>
            <input class="prev-search-field" id="prev-workflow-state" type="hidden" name="workflow_state" value=""/>
            <input class="prev-search-field" id="prev-keyword" type="hidden" name="keyword" value=""/>
        <% end %>
    </div>


</div>

