<div id="work-list">
    <h3>Works included in update: <%= @draft_work_count  %></h3>
    <% if @draft_works.blank? %>
        <p id="draft-empty-message" >
            There are no works in this update so far. Search for works above and then add them to this update.
        </p>
    <% else %>
        <p id="draft-message" >
            Once you've added all the works you want, click "finalize" to create a spreadsheet of metadata from this list of works.
        </p>
        <%= form_tag("#{@operation.id}/edit") do %>
            <div id="work-list-controls" >
                <button type="button" class="select-all">Select All</button>
                <button type="button" class="select-none">Select None</button>
                <input type="submit" name="remove_works" id="remove-works" value="Remove Checked Works From List" />
            </div>
            <ul id="proxy-list">
                <li id="template" class="hidden">
                    <input type="checkbox" name="selected_work_ids[]" value=""/>
                    <%= image_tag("", height: '200', class: 'work-thumb') %>
                    <div class="work-title"></div>
                    <div class="work-desription"></div>
                </li>
                <% @draft_works.each do |work| %>
                    <% doc = SolrDocument.find(work.id) %>
                    <li>
                        <input class="remove-work-id" type="checkbox" name="remove_work_ids[]" value="<%= work.id %>" />
                        <%= image_tag(doc.thumbnail_path, height: '200', class: 'work-thumb') %>
                        <div class="work-meta">
                            <div class="work-title"><%=doc.title.join(", ")%></div>
                            <div class="work-desription"><%=doc.description.join(", ")%></div>
                        </div>
                    </li>
                <% end %>
            </ul>
            <div id="work-list-controls" >
                <button type="button" class="select-all">Select All</button>
                <button type="button" class="select-none">Select None</button>
                <input type="submit" name="remove_works" id="remove-works" value="Remove Checked Works From List" />
            </div>
        <% end %>
    <% end %>
</div>    


