<%= javascript_include_tag "bulk_ops" %>
<%= stylesheet_link_tag "bulk_ops" %>
<% provide :page_title, "New Bulk Operations" %>
<%= render "bulk_ops_header", title: 'Create New Bulk Ingest or Update' %>
<%= render "bulk_ops/github_auth_widget" %>

<%= form_tag "/bulk_ops", class: "new-bulk-op", id: "new-bulk-op" do %>

    <div id="operation-name" class="bulk-ops-options">
        <label data-toggle="tooltip" title="Choose a short descriptive name for this bulk operation" for="bulk-ops-name">New Operation Name:</label>
        <input type="text" name="name" id="bulk-ops-name" />
    </div>

    <%= render "operation_options" %>
    <%= render "ingest_options" %>
    <%= render "update_options" %>

    <%= render "choose_fields" %>

    <%= render "choose_notifications" %>

    <%= render "git_message" %>
    
    <input type="submit" name="create_operation" id="create-operation" value="Create Bulk Operation" />

<% end %>

