<% provide :page_title, "New Bulk Operations" %>
    <h1><span class="fa fa-edit" aria-hidden="true"></span>Create a New Bulk Ingest or Update</h1>


<form id="new-bulk-operation" name="new_bulk_operation">

    <div id="operation-name">
        <label>Name:</label>
        <p>Choose a short descriptive name for this bulk operation</p>
        <input type="text" name="name" />
    </div>

    <%= render "choose_notifications" %>


    <div>
        <label>Ingest or Update?</label>
        <p> Would you like to set up a bulk ingest of new works, or a bulk update of existing works?</p>
        <select name="type"  onchange="$('.options-panel').hide(); $('#'+this.value+'-options').show()" >
            <option disabled selected value> -- Choose Operation Type -- </option>
            <option value="ingest">Ingest </option>
            <option value="update">Update </option>
        </select>
    </div>


    <%= render "ingest_options" %>
    <%= render "update_options" %>


    <%= render "choose_fields" %>


    <%= render "git_message" %>
    
    <input type="submit" name="create_operation" id="create-operation" value="Create Bulk Operation" />

</form>
